---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Us</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About Us</a>
		<a href="/blog/">Blog</a>
		<h1>About Us</h1>
		<h2>...here we go.</h2>
        <p> We're working through this tutorial.</p>
        <p>The site will be updated as we go. Once we're done, we'll start over with something real.</p>

	</body>
</html>